.bioInfo {
    color: wheat;
    width: 60rem;
    padding: 1.8rem 1.8rem 1.8rem 1.8rem;
}

.amyBio {
    background-image: url(./img/amy.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40rem;
    height: 25rem;
    width: 45%;
    border: 2px solid wheat;
    border-radius: 60rem;
    float: right;
    margin: 0 0 1rem 2rem;
}