.header {
    margin: 5rem 0;
}

.title {
    text-align: center;
    color: #266499;
    text-shadow: 
        -1px -1px 0 wheat,
        1px -1px 0 wheat,
        -1px 1px 0 wheat,
        1px 1px 0 wheat;
    margin: 2rem 0 2rem 0;
    /* font-family: 'La Belle Aurore', cursive; */
    font-family: 'Rock Salt', cursive;
}

.logo {
    background-image: url(./img/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25rem;
    width: 25rem;
    margin: 0 auto;
}

.amy {
    background-image: url(./img/amy.jpg);
    background-position: top ;
    background-repeat: no-repeat;
    background-size: cover;
    width: 45%;
    padding: 25rem 0 0 0;
    border: 2px solid wheat;
    border-radius: 5rem;
}

.tour {
    text-align: center;
    color: wheat;
    text-shadow: 
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    margin: 2rem 0 2rem 0;
    /* font-family: 'La Belle Aurore', cursive; */
    font-family: 'Rock Salt', cursive;
}