.navbar {
    background-color: #266499;
}

.nav-link {
    color: wheat;
    font-family: 'La Belle Aurore', cursive;
    font-size: 1.5rem;
}

.nav-link:hover {
    color: wheat;
    text-decoration: underline;
}